* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.container {
  margin-top: 90px;
  margin-left: 90px;
}

.form {
  margin: 30px 0px;
}
input[type="number"], input[type="submit"]  {
  padding: 12px;
  outline: 0;
}

.number.sucess {
  border: 1px solid green;
}

.sucessmessage {
  display: none;
}
input[type="submit"]  {
  background: #f6f6f6;
  cursor: pointer;
  outline: 0;
  padding: 12px 30px;
  border: 0;
  font-weight: 600;
  letter-spacing: 1px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}